{lfe_first_files, []}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.

{deps, [
    {lfe, ".*", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.10.1"}}},
    {logjam, ".*", {git, "git://github.com/lfex/logjam.git", {tag, "0.3.0"}}},
    {clj, ".*", {git, "git://github.com/lfex/clj.git", {tag, "0.3.0"}}},
    {gtknode, ".*", {git, "git://github.com/massemanet/gtknode.git", {tag, "1.0.3"}}}
  ]}.

{plugins, [
   {'lfe-compile', ".*", {git, "https://github.com/lfe-rebar3/compile.git", {tag, "0.2.1"}}},
   {'lfe-version', ".*", {git, "https://github.com/lfe-rebar3/version.git", {tag, "0.2.1"}}},
   {'lfe-repl', ".*", {git, "https://github.com/lfe-rebar3/repl.git", {tag, "0.1.1"}}},
   {'lfe-clean', ".*", {git, "https://github.com/lfe-rebar3/clean.git", {tag, "0.1.0"}}}
  ]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
  ]}.
~
